<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject0531">

    <application
        android:allowBackup="true"
        android:icon="@drawable/music_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/music_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalproject0531">
        <activity android:name=".Result"></activity>
        <activity
            android:name=".PlaySong"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChooseSong"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>